.contenedorPanaderia {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 2rem;
}
.listaPanaderia {
	font-family: 'Source Sans Pro', sans-serif;
	list-style-type: none;
	padding: 2%;
	background-color: $colorRosita1;
}
.listaFacturas {
	font-family: 'Source Sans Pro', sans-serif;
	list-style-type: none;
	padding: 2%;
	background-color: $colorRosita1;
}